useDynLib(rbiom, .registration = TRUE)


export(`adiv_boxplot`)
export(`adiv_corrplot`)
export(`adiv_table`)
export(`as_percent`)
export(`bdiv_boxplot`)
export(`bdiv_distmat`)
export(`bdiv_heatmap`)
export(`bdiv_table`)
export(`bdiv_ord_plot`)
export(`bdiv_ord_table`)
export(`bdply`)
export(`biom_build`)
export(`biom_comment`)
export(`biom_comment<-`)
export(`biom_file_format`)
export(`biom_id`)
export(`biom_id<-`)
export(`biom_info`)
export(`biom_merge`)
export(`biom_repair`)
export(`blply`)
export(`convert_from_phyloseq`)
export(`distmat_stats`)
export(`embed_csv`)
export(`embed_code`)
export(`has_tree`)
export(`has_sequences`)
export(`is_rarefied`)
export(`n_otus`)
export(`n_ranks`)
export(`n_samples`)
export(`otu_matrix`)
export(`otu_matrix<-`)
export(`otu_taxonomy`)
export(`otu_taxonomy<-`)
export(`otu_tree`)
export(`otu_tree<-`)
export(`plot_heatmap`)
export(`rare_barplot`)
export(`rare_corrplot`)
export(`rare_depth`)
export(`rare_multiplot`)
export(`rare_suggest`)
export(`read_biom`)
export(`read_fasta`)
export(`read_tree`)
export(`sample_metadata`)
export(`sample_metadata<-`)
export(`sample_names`)
export(`sample_names<-`)
export(`sample_rarefy`)
export(`sample_select`)
export(`sample_subset`)
export(`sample_sums`)
export(`otu_names`)
export(`otu_names<-`)
export(`otu_sequences`)
export(`otu_sequences<-`)
export(`taxa_barplot`)
export(`taxa_boxplot`)
export(`taxa_corrplot`)
export(`taxa_heatmap`)
export(`taxa_matrix`)
export(`taxa_means`)
export(`taxa_ranks`)
export(`taxa_ranks<-`)
export(`taxa_sums`)
export(`taxa_table`)
export(`tree_data`)
export(`tree_plot`)
export(`tree_subset`)
export(`tree_tips`)
export(`unifrac`)
export(`write_biom`)
export(`write_counts`)
export(`write_fasta`)
export(`write_metadata`)
export(`write_taxonomy`)
export(`write_tree`)
export(`write_xlsx`)


# Deprecated functions
export(`alpha.div`)
export(`as.percent`)
export(`beta.div`)
export(`comments`)
export(`comments<-`)
export(`counts`)
export(`counts<-`)
export(`depth`)
export(`depths_barplot`)
export(`has.phylogeny`)
export(`has.sequences`)
export(`id`)
export(`id<-`)
export(`info`)
export(`is.rarefied`)
export(`metadata`)
export(`metadata<-`)
export(`nsamples`)
export(`ntaxa`)
export(`phylogeny`)
export(`phylogeny<-`)
export(`rarefy`)
export(`read.biom`)
export(`read.fasta`)
export(`read.tree`)
export(`repair`)
export(`sample.names`)
export(`sample.names<-`)
export(`sample.sums`)
export(`select`)
export(`sequences`)
export(`sequences<-`)
export(`stats.table`)
export(`subtree`)
export(`taxa.means`)
export(`taxa.names`)
export(`taxa.names<-`)
export(`taxa.ranks`)
export(`taxa.ranks<-`)
export(`taxa.rollup`)
export(`taxa.sums`)
export(`taxonomy`)
export(`taxonomy<-`)
export(`tips`)
export(`top.taxa`)
export(`top_taxa`)
export(`write.biom`)
export(`write.fasta`)
export(`write.tree`)
export(`write.xlsx`)



importClassesFrom("slam")
importClassesFrom("ggplot2")

importMethodsFrom("broom")
importMethodsFrom("emmeans")

import("RcppParallel")

importFrom("ape", "print.phylo")
importFrom("broom", "tidy", "glance", "augment")
importFrom("emmeans", "emmeans", "eff_size", "contrast")
importFrom("glue", "glue", "glue_collapse", "backtick", "single_quote", "double_quote")
importFrom("grDevices", "boxplot.stats")
importFrom("ggplot2", "aes")
importFrom("ggrepel", "geom_text_repel", "geom_label_repel")
importFrom("magrittr","%>%", "%<>%")
importFrom("methods", "is", "as")
importFrom("Rcpp", "sourceCpp")

importFrom("rlang",
           "%||%", "enquo", "get_env", "quo_name", "has_name", 
           "as_label", ".data", "as_name", "quo", "sym", "data_sym", "quo_squash",
           "caller_call", "caller_env", "caller_fn", 
           "call_match", "call_args", "call_args_names", "call_name",
           "is_na", "is_null", 
           "is_list", "is_formula", "is_function",
           "is_true", "is_false", "is_logical", "is_scalar_logical", 
           "is_atomic", "is_scalar_atomic",
           "is_character", "is_scalar_character", "is_string", 
           "is_integerish", "is_scalar_integerish", 
           "is_double", "is_scalar_double")

importFrom("stats", "as.dist", "aggregate", "df.residual", "fivenum", 
           "model.frame", "model.matrix", "na.omit", "setNames", "sigma", 
           "terms")

importFrom("utils", "download.file", "head", "write.table", "read.csv", 
           "read.delim", "packageDescription", "packageVersion",
           "capture.output")


S3method(print, BIOM)

# deprecated
S3method(subset, BIOM)

export("%>%")
export("%<>%")
