#useDynLib(rbiom, .registration = TRUE)

export(alpha.div)
export(beta.div)
export(rarefy)
export(read.biom)
export(select)
export(subset.BIOM)
export(summary.BIOM)
export(taxa.rollup)
export(unifrac)
export(write.biom)


importClassesFrom("slam")

import("RcppParallel")
importFrom("Rcpp", "sourceCpp")
importFrom("methods", "is")
importFrom("stats", "fivenum", "setNames", "as.dist", "na.omit")
importFrom("utils", "download.file", "head", "write.table")
importFrom("foreach", "foreach", "%dopar%", "%do%")

S3method(subset, BIOM)
S3method(summary, BIOM)
