useDynLib(rbiom, .registration = TRUE)

export(alpha.div)
export(beta.div)
export(counts)
export(info)
export(nsamples)
export(ntaxa)
export(metadata)
export(phylogeny)
export(rarefy)
export(read.biom)
export(read.fasta)
export(read.tree)
export(sample.names)
export(select)
export(sequences)
export(subtree)
export(taxonomy)
export(taxa.names)
export(taxa.ranks)
export(taxa.rollup)
export(tips)
export(unifrac)
export(write.biom)
export(write.fasta)
export(write.tree)
export(write.xlsx)


importClassesFrom("slam")

import("RcppParallel")
importFrom("Rcpp", "sourceCpp")
importFrom("magrittr","%>%")
importFrom("methods", "is", "as")
importFrom("stats", "fivenum", "setNames", "as.dist", "na.omit", "aggregate")
importFrom("utils", "download.file", "head", "write.table", "read.csv", "read.delim", "packageDescription")

S3method(print, BIOM)
S3method(subset, BIOM)

export("%>%")
